<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>障害報告</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <div th:include=" common :: com-header"></div>

</head>

<body>

  <div th:include="common :: page-header"></div>
  <div th:include="common :: page-sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Alerts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a  th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">障害関連</li>
          <li class="breadcrumb-item active">障害報告</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">

    </section>

  </main><!-- End #main -->

  <div th:include=" common :: footer "></div>
  <div th:include=" common :: last-js "></div>

</body>

</html>